.DS_Store
._*
.carmel
/local
/static/boards/*
!/static/boards/keep
*.yml
!config-defaults.yml
*.sqlite3
*.sqlite
*.sqlite3
*.db
*.db3
*.s3db
*.sl3
/.vscode
/Momiji-*
/.build
/_build*
/Build
MYMETA.*
!META.json
/.prove